.category-cards-container{
  @apply flex flex-wrap justify-center p-4;
}
.categoryCard-shell{
  @apply w-5/12 md:w-3/12 overflow-hidden shadow-lg flex flex-col  content-center rounded my-6 mx-1 justify-between bg-white;
}

.categoryCard-info-shell{
  @apply  px-2 py-4 w-full bg-blue-100;
}

.categoryCard-info-body{
  @apply font-bold text-xl md:text-2xl lg:text-3xl text-center mb-2;
}