.navbar-container {
  @apply h-12 pb-14 md:pb-20 md:h-20
}

.navbar {
  @apply bg-blue-400 fixed top-0 left-0 right-0 flex h-12 z-40 md:h-20;
}
.navbar-nav {
  @apply flex items-center w-1/3
}

.navbar-dropdown {
  @apply md:hidden self-center ml-2 mb-0 text-white text-3xl
}

.nav-link {
  @apply hidden md:block text-white px-4 md:text-lg
}

.brand-container {
  @apply text-white flex items-center justify-center w-1/3;
}

.navbar-auth {
  @apply flex justify-end items-center w-1/3
}

.brand {
  @apply text-2xl  md:text-3xl font-semibold
}

