.sidesort {
  @apply  fixed flex flex-col items-center bg-white w-full h-screen z-50 transform translate-x-full transition duration-300
}

.menu-heading {
  @apply text-black font-semibold my-14
}

.sort-close {
  @apply text-black absolute left-3 top-3
}

.show {
  @apply transform translate-x-0
}