.landingPage-copy-container{
  @apply flex flex-col justify-center my-6;
}

.copy-title{
  @apply mx-auto mb-4 text-2xl font-bold md:text-3xl lg:text-4xl;
}

.copy-body{
  @apply w-10/12 m-auto text-xl md:text-2xl md:w-9/12 lg:text-3xl;
}